<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" manifest="../../inspired.appcache"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" manifest="../../inspired.appcache"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable = no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="mobile-web-app-capable" content="yes">

  <meta name="description" content="Shop styles from the hottest music videos. Inspired is the destination to keep up with your favorite celebrity fashion trends." />
  <meta name="keywords" content="celebrity clothing, fashionable clothing, fashionable clothes, clothing, clothes, clothing store, clothes stores, women clothes stores, online clothes store, female clothing stores, clothing store online, celebrity fashion for cheap, cheap celebrity fashion, cheap fashion, cheap dresses, cheap dresses online, celebrity fashion cheap , trendy clothes, trendy clothing, trendy womens clothes, trendy dresses, shopping app, apple shopping app, shopping site, iPhone shopping apps, shopping app clothes, fashion shopping app, shop smartphone apps, fashion style apps, style advice app, style inspiration app, shop by celebrity, celebrity shopping app, celebrities fashion looks, style inspiration site, celebrity fashion, celebrity inspired style ideas, free app, pop music videos app, urban music app" />
  <meta name="author" content="inspiredapp.tv" />   

  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://www.inspiredapp.tv"/>
  <meta property="og:site_name" content="Inspired"/> 
  <meta property="og:title" content="Inspired">
  <meta property="og:description" content="Shop styles from the hottest music videos. Inspired is the destination to keep up with your favorite celebrity fashion trends." />
  <meta property="og:image" content="../../../static/img/icons/icon-196.png" />

  <link rel="canonical" href="http://www.inspiredapp.tv/">
  <link rel="publisher" href="https://plus.google.com/102711944033891399361"/>       

  <title>Inspired</title>

  <!-- Icon -->
  <link rel="apple-touch-icon"  href="../../../static/img/icons/icon-76.png" />
  <link rel="apple-touch-icon" sizes="76x76"  href="../../../static/img/icons/icon-76.png" />
  <link rel="apple-touch-icon" sizes="120x120"  href="../../../static/img/icons/icon-120.png" />
  <link rel="apple-touch-icon" sizes="152x152"  href="../../../static/img/icons/icon-152.png" />
  <link rel="shortcut icon" sizes="196x196"  href="../../../static/img/icons/icon-196.png">
  
  <!-- Style CSS -->
  <link rel="stylesheet" href="../../../static/css/foundation.css" />
</head>
<body>
  <div class="screen">
    <div class="settings-menu">
      <a class="settings-back">Back</a>
      <a class="settings-back-back">Back</a>
      <a class="settings-logout" href="">Logout</a>
      <div class="settings-title">Settings</div>      
      <ul class="settings-menu-list">
        <li class="my-profile">My Profile</li>
        <li class="email-preferences">Email Preferences</li>
        <li class="invite-friends">Invite Friends</li>
        <li class="send-feedback">Send Feedback</li>
        <li class="help">Help</li>
        <li class="legal">Legal</li>
      </ul>
      <div class="ajax-container"></div>
      <div class="settings-footer">Inspired - v.0.1<br/>Copyright Invidio, Inc 2013</div>  
    </div>   

    <div class="content">  
      <nav class="top-bar">
          <a class="back-btn" href="javascript:;" onclick="location.reload();location.href='../../music.html'"></a>
          <a class="name" href="javascript:;" onclick="location.reload();location.href='../../music.html'">Inspired</a>    
      </nav>

      <div class="spinner-wrap"><div id="spinner"><img src="../../../static/img/spinner.gif"></div></div>
      <div class="main-container" style="background: #D4D4D4;">
        <div class="row">
          <div class="twelve columns artist-poster-container">
            <div class="page-container">
              <div class="artist-poster">
                <div class="follow-btn"></div>
                <img src="../../../static/img/music/artists/austin-mahone/cover.png" />
              </div>

              <div class="row" id="stats-tab">
                <div class="small-12 small-centered columns">
                  <div class="artist-page-band"><span>Austin Mahone</span> Music Videos</div>
                </div>
              </div>  

            <!--MUSIC VIDEO LIST-->
              <div class="row artist-video-list">

				<a href="javascript:;" onclick="location.reload();location.href='what-about-love.html'" class="four columns artist-video-btn"> 
                  <img class="video-img" src="../../../static/img/music/artists/austin-mahone/what-about-love.png" />
                  <div class="video-info">
                    <div class="video-title"><h5>What About Love</h5></div>
                  </div>
                </a>

				<a href="javascript:;" onclick="location.reload();location.href='what-about-love.html'" class="four columns artist-video-btn">
                  <img class="video-img" src="../../../static/img/music/artists/austin-mahone/what-about-love.png" />
                  <div class="video-info">
                    <div class="video-title"><h5>What About Love</h5></div>
                  </div>
				</a>
				
				<a href="javascript:;" onclick="location.reload();location.href='what-about-love.html'" class="four columns artist-video-btn">
                  <img class="video-img" src="../../../static/img/music/artists/austin-mahone/what-about-love.png" />
                  <div class="video-info">
                    <div class="video-title"><h5>What About Love</h5></div>
                  </div>
                </a>

				<a href="javascript:;" onclick="location.reload();location.href='what-about-love.html'" class="four columns artist-video-btn">
                  <img class="video-img" src="../../../static/img/music/artists/austin-mahone/what-about-love.png" />
                  <div class="video-info">
                    <div class="video-title"><h5>What About Love</h5></div>
                  </div>
                </a>
              </div> 
			  
            </div>
          </div>
        </div>
      </div>
      <div id="footer-container"><!-- Dynamic Content --></div>
    </div>  
  </div>
  <!--FOOTER-->
  <div class="footer">
    <a href="javascript:;" class="footer-settings"></a>
    <a href="javascript:;" class="footer-btn footer-bookmarks">Bookmarks</a>
    <a href="javascript:;" class="footer-btn footer-following">Following</a>
  </div>

<!--SCRIPTS-->
  <script src="../../../static/js/vendor/custom.modernizr.js"></script>
  <script>
    document.write('<script src='+('__proto__'in{}?'../../../static/js/vendor/zepto':'../../../static/js/vendor/jquery')+'.js><\/script>')
  </script>
  <script src="../../../static/js/foundation/foundation.js"></script>
  <script src="../../../static/js/js.functions.js"></script>
  <script src="../../../static/js/fastclick.js"></script>
  <script>
      //add fastclick: https://github.com/ftlabs/fastclick
      window.addEventListener('load', function() {
          FastClick.attach(document.body);
      }, false);    
  </script>   
  <script>
    <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-42670109-1', 'invid.io');ga('send', 'pageview');-->
  </script>     
</body>
</html>