<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>       
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>        
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>        
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a> 
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>  
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>    
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>       
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>        
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>        
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test1</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>         
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test2</div>
    <div class="look-item-model">Test2</div>
  </div>
</a> 
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test3</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>  
<a href="here-s-to-never-growing-up/item-3.html" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand">Bookmarked-test4</div>
    <div class="look-item-model">Test2</div>
  </div>
</a>  
<a href="#" class="look-item">
  <img class="look-item-img" src="../static/img/music/artists/avril-lavigne/here-s-to-never-growing-up/item-3.png" />
  <div class="look-item-info">
    <div class="look-item-brand" style="color:red">Bookmarked-test_LAST</div>
    <div class="look-item-model" style="color:red">Test2</div>
  </div>
</a>                      

<script type="text/javascript">
  var PANEL_SPEED = 350,
      PANEL_EASING_1 = 'cubic-bezier(0.23,1,0.32,1)',
      PANEL_EASING_2 = 'cubic-bezier(.09,.32,.57,1.65)';   

  $(document).ready(function() {
    if('ontouchstart' in window){var click = 'touchstart';}
    else{var click = 'click';}

    $('.delete-btn').live(click, function(e){
      $(this).closest('.look-item').remove();
      $('.delete-btn').remove();
      e.preventDefault();
    });  
  });

  $('.look-item').on('swipeLeft', function(e){
    $('.look-item').animate({translateX: '0'}, PANEL_SPEED, PANEL_EASING_1);
    $('.delete-btn').remove();
    $(this).append('<div class="delete-btn">DELETE</div>'); 
    $(this).animate({translateX: '-75px'}, PANEL_SPEED, PANEL_EASING_2);
    e.preventDefault();  
  });
  $('.look-item').on('swipeRight', function(e){
    $('.delete-btn').remove();
    $('.look-item').animate({translateX: '0'}, PANEL_SPEED, PANEL_EASING_1);
    e.preventDefault();    
  });   
</script>
